.home-container{
    display: grid;
    align-content: center;
    height: 100%;
}

.home-rankings{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px,450px));
    row-gap: 2rem;
    column-gap: 4rem;
    a{
        display: flex;
        justify-content: flex-end;
        font-weight: 600;
        text-decoration: none;
    }
}